/* Grid frameworks */
.container {
	width: 80%;
}

.row {
	.clear();
}

.row {
	width: 100%;
}

.col[class*="col-"] {
	min-height: 1px;
}

.create-grid(@index) when(@index > 0) {
	.col-@{index} {
		width: @columnWidth * @index;
		float: left;

	}

	// .col-offset-@{index} {
	// 	width: ;
	// }

	.create-grid(@index - 1);
}

.create-grid(@columns);

@media screen and (min-width: 0) and (max-width: @screenMobile) {
	.container {
		width: 100%;
		.transition(@transition-time);
	}
	.create-grid(@index) when(@index > 0) {
		.col-mb-@{index} {
			width: @columnWidth * @index;
			clear: left;

		}
		.create-grid(@index - 1);
	}

	.create-grid(@columns);


}

@media screen and (min-width: @screenMobile) and (max-width: @screenTablet) {
	.container {
		width: 100%;
		.transition(@transition-time);
	}
	.create-grid(@index) when(@index > 0) {
		.col-tl-@{index} {
			width: @columnWidth * @index;
			float: left;
		}
		.create-grid(@index - 1);
	}

	.create-grid(@columns);

}


@media screen and (min-width: @screenTablet) and (max-width: @screenDesktop) {
	.container {
		width: 95%;
		.transition(@transition-time);
	}
	.create-grid(@index) when(@index > 0) {
	.col-dt-@{index} {
		width: @columnWidth * @index;
		float: left;

	}
	.create-grid(@index - 1);
	}

	.create-grid(@columns);


}

@media screen and (min-width: @screenDesktop) and (max-width: @screenLarge) {
	.container {
		width: 90%;
		.transition(@transition-time);
	}
	.create-grid(@index) when(@index > 0) {
	.col-lg-@{index} {
		width: @columnWidth * @index;
		float: left;

	}
	.create-grid(@index - 1);
	}

.create-grid(@columns);
	
}

@media screen and (min-width: @screenLarge) {
	.container {
		width: 80%;
		.transition(@transition-time);
	}

	.create-grid(@index) when(@index > 0) {
	.col-lg-@{index} {
		width: @columnWidth * @index;
		float: left;

	}
	.create-grid(@index - 1);
	}

.create-grid(@columns);

}

// offset
.offset(@index) when (@index > -1) {
	.col-offset-@{index} {
		margin-left: @columnWidth * @index;
	}
	.offset(@index - 1);
}

.offset(@columns);

	
.container-full {
	width: 100%;
	.transition(@transition-time);
}

.row-gap {
	margin-top: @row-gap;
}

// clear floating
.clear {
	  &:before,
	  &:after {
	    content: " "; // 1
	    display: table; // 2
	  }
	  &:after {
	    clear: both;
	  }
}