////////////////////
////////////////////
///  Panel Widget
////////////////////
////////////////////
.panel {
	width: 95%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 3px;
	background: #fff;
}

.panel-head {
	border-radius: 3px;
	padding: 10px 10px;
	border-bottom: 1px solid #ddd;
	.border-bottom-radius(0);
}

.panel-body {
	padding: 10px 10px;
	line-height: 1.7;
}

.panel-foot {
	padding: 10px 10px;
	border-top: 1px solid #ddd;
}

.panel-shadow {
	.box-shadow(0px; 0px; 5px; 1px; #e6e6e6);
}

.panel-color(@color) {
	border-color: @color;

	&>.panel-head {
		color: darken(@color, 20%);
		background: lighten(@color, 40%);
		border-bottom: 1px solid @color;
	}

	&>.panel-foot {
		border-top: 1px solid @color;
		color: #929292;
	}
}

.panel-success {
	.panel-color(@success-color);
}

.panel-primary {
	.panel-color(@primary-color);
}

.panel-danger {
	.panel-color(@danger-color);
}

.panel-warning {
	.panel-color(@warning-color);
}

.panel-default {
	.panel-color(@default-color);
}

