////////////////////
////////////////////
///  Panel Widget
////////////////////
////////////////////
.panel {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 3px;
	background: #fff;
}

.panel-head {
	border-radius: 3px;
	padding: 10px 10px;
	border-bottom: 1px solid #ddd;
	.border-bottom-radius(0);
}

.panel-body {
	padding: 20px 20px;
	line-height: 1.7;
}

.panel-foot {
	padding: 10px 10px;
	border-top: 1px solid #ddd;
}

.panel-shadow {
	.box-shadow(0px; 0px; 5px; 1px; #e6e6e6);
}

.panel-color(@wcolor;@bgcolor) {
	border-color: @wcolor;

	&>.panel-head {
		color: @wcolor;
		background: @bgcolor;
		border-bottom: 1px solid @wcolor;
	}

	&>.panel-foot {
		border-top: 1px solid @wcolor;
		color: #929292;
	}
}

.panel-success {
	.panel-color(@success-color;@light-success-color);
}

.panel-primary {
	.panel-color(@primary-color;@light-primary-color);
}

.panel-danger {
	.panel-color(@danger-color;@light-danger-color);
}

.panel-warning {
	.panel-color(@warning-color;@light-warning-color);
}

.panel-default {
	.panel-color(@default-color;@default-color);
}

