/**
***
***	Define global variables
***
**/

@columns: 12;
@columnWidth: 100%/@columns;
@gap: 36px;

@row-gap: 10px;

@screenMobile: 480px;
@screenTablet: 768px;
@screenDesktop: 992px;
@screenLarge: 1200px;

/* transition-time */
@transition-time:  .3s;

/* Font Family */
@base-font-size: 16px;
@p-font: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
@h-font: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
@title-font: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

/* global color var */
@primary-color:      #00a8e6;
@success-color:      #8cc14c;
@danger-color:       #d9534f;
@warning-color:      #f0ad4e;
@disabled-color:     #eeeeee;
@default-color:      #fff;
@black-color:		 #000;

/* button color var */
@button-height:                                 30px;
@button-mini-height:                            20px;
@button-small-height:                           25px;
@button-large-height:                           40px;

@button-line-height:                            30px;
@button-mini-line-height:                       20px;
@button-small-line-height:                      25px;
@button-large-line-height:                      40px;

@button-mini-font-size:                         11px;
@button-small-font-size:                        12px;
@button-large-font-size:                        16px;

@button-padding-horizontal:                     12px;
@button-mini-padding-horizontal:                6px;
@button-small-padding-horizontal:               10px;
@button-large-padding-horizontal:               15px;

@button-font-size:                              1rem;
@button-background:                             #eee;
@button-color:                                  #444;
@button-hover-background:                       #f5f5f5;
@button-hover-color:                            #444;
@button-active-background:                      #ddd;
@button-active-color:                           #444;

@button-primary-background:                     #00a8e6;
@button-primary-color:                          #fff;
@button-primary-hover-background:               #35b3ee;
@button-primary-hover-color:                    #fff;
@button-primary-active-background:              #0091ca;
@button-primary-active-color:                   #fff;

@button-success-background:                     #8cc14c;
@button-success-color:                          #fff;
@button-success-hover-background:               #8ec73b;
@button-success-hover-color:                    #fff;
@button-success-active-background:              #72ae41;
@button-success-active-color:                   #fff;

@button-danger-background:                      #da314b;
@button-danger-color:                           #fff;
@button-danger-hover-background:                #e4354f;
@button-danger-hover-color:                     #fff;
@button-danger-active-background:               #c91032;
@button-danger-active-color:                    #fff;

@button-disabled-background:                    #f5f5f5;
@button-disabled-color:                         #999;

@button-link-color:                             #07D;
@button-link-hover-color:                       #059;
@button-link-hover-text-decoration:             underline;
@button-link-disabled-color:                    #999;